<?xml version="1.0" encoding="UTF-8" ?>
<suite name = "OrangeHRMSuite" parallel="classes" thread-count="5">
    <listeners>
        <listener class-name="com.orangehrm.listeners.TestListener"/>
    </listeners>
    <test name = "OrangeHRMTest_chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name ="com.orangehrm.test.Dummy"></class>
            <class name="com.orangehrm.test.Dummy2"></class>
            <class name="com.orangehrm.test.HomePageTest"></class>
            <class name ="com.orangehrm.test.LoginPageTest"></class>
            <class name ="com.orangehrm.test.DBVerificationTest"></class>
            <class name ="com.orangehrm.test.APITest"></class>
        </classes>
    </test>
    <test name = "OrangeHRMTest_edge">
        <parameter name="browser" value="edge"/>
        <classes>
        </classes>
    </test>
    <test name = "OrangeHRMTest_firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
        </classes>
    </test>
</suite>